body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #74ebd5, #ACB6E5);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.boxe {
    background-color: #5a6cf3;
    color: white;
    padding: 3rem;
    border-radius: 1.5rem;
    width: 80vw;
    max-width: 25rem;
    box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.3);
    text-align: center;
}

.boxe h1 {
    font-size: 1.4rem;
    margin-bottom: 1.5rem;
}

.div_input {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

.div_input input {
    padding: 0.8rem;
    border: none;
    border-radius: 0.6rem 0 0 0.6rem;
    outline: none;
    width: 70%;
    font-size: 1rem;
}

.div_input button {
    padding: 0.8rem;
    border: none;
    background-color: #6dd5fa;
    color: white;
    cursor: pointer;
    border-radius: 0 0.6rem 0.6rem 0;
    font-size: 1.1rem;
    width: 15%;
}

hr {
    border: 0;
    border-top: 0.1rem solid rgba(255, 255, 255, 0.3);
    margin: 2rem 0;
}

.local h1 {
    font-size: 1.8rem;
    margin: 2rem
}

.temperatura h1 {
    font-size: 4rem;
    margin: 2rem
}

h4 {
    font-size: 1.5rem;
    margin: 1rem 0;
}

.umidade_e_vento {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    font-size: 1.5rem;
    gap: 2rem;
}

.umidade, .vento {
    display: flex;
    align-items: center
}

.linha-vertical {
  width: 0.1rem;
  height: 5rem;
  background-color: rgb(255, 255, 255);
  border: none;
  margin: 0;
}

